
node_modules/
pnpm-lock.yaml
.pnp.*
.cache/
dist/
.build/
.next/
coverage/

# env & local
.env

# OS/Editor
.DS_Store
*.log
.vscode/*
!.vscode/extensions.json
lms/lms-ui/package-lock.json
lms/minio/package-lock.json
lms/minio/.env



